.header {
  width: 100%;
  background-color: #232536 !important;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 80px;
  padding-right: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 111;
}
.header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-wrapper .header-logo img {
  width: 140px;
  height: 30px;
}
.header .header-wrapper .header-logo .header-logo-text {
  color: #FFD050 !important;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.header .header-wrapper .header-navbar {
  display: flex;
  align-items: center;
  gap: 83px;
}
.header .header-wrapper .header-navbar ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header .header-wrapper .header-navbar ul li .header-link {
  color: var(--Light, #FFF);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.header .header-wrapper .header-navbar .header-login-navigate {
  padding: 16px 48px;
  gap: 12px;
  background-color: #fff;
  color: #232536 !important;
  font-family: "Sen";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  transition: 0.5s;
}
.header .header-wrapper .header-navbar .header-login-navigate:hover {
  box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
}

.footer {
  padding-top: 54px;
  padding-bottom: 54px;
  background-color: #232536 !important;
}
.footer .footer-wrapper {
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-wrapper .footer-addresses {
  display: flex;
  flex-direction: column;
}
.footer .footer-wrapper .footer-addresses p {
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
.footer .footer-wrapper .footer-link-icons {
  display: flex;
  align-items: center;
  gap: 27px;
}

.home-page-popular-cards {
  width: 300px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  border: 1px solid #ccc;
  height: 700px;
  cursor: pointer;
}
.home-page-popular-cards .hppc-image {
  width: 100%;
  height: 318px;
  background-color: #ddd;
}
.home-page-popular-cards .hppc-image img {
  width: 100%;
}
.home-page-popular-cards .hppc-subtext {
  margin-top: 10px !important;
  margin-bottom: 16px;
  color: #4C4C4C;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.home-page-popular-cards .hppc-subtext span {
  color: #592EA9;
}
.home-page-popular-cards .hppc-title {
  margin-bottom: 16px;
  color: #232536 !important;
  font-family: "Sen";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
}
.home-page-popular-cards .hppc-text {
  color: #232536 !important;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.hpc-category-cards {
  padding: 31px;
  width: 296px;
  height: 400px;
  margin-right: 10px;
  flex-shrink: 0;
  border: 1px solid #6D6E76;
  cursor: pointer;
}
.hpc-category-cards:hover {
  background-color: #FFD050 !important;
  border: 1px solid transparent;
}
.hpc-category-cards .hpccc-image {
  height: 47px;
  width: 48px;
  background-color: #fff;
}
.hpc-category-cards .hpccc-image img {
  width: 100%;
}
.hpc-category-cards .hpccc-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Sen";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536 !important;
}
.hpc-category-cards .hpccc-desc {
  color: #6D6E76;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.cpmc-card {
  display: flex;
  gap: 48px;
  margin-bottom: 20px;
}
.cpmc-card .cpmcc-img {
  width: 448px;
  height: 312px;
  background-color: #ddd;
}
.cpmc-card .cpmpcc-content {
  display: flex;
  flex-direction: column;
}
.cpmc-card .cpmpcc-content .cpmpccc-subtext {
  color: #592EA9;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.cpmc-card .cpmpcc-content .cpmccc-title {
  width: 780px;
  margin-top: 20px;
  margin-bottom: 64px;
  color: #232536 !important;
  font-family: "Sen";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.cpmc-card .cpmpcc-content .cpmccc-description {
  width: 780px;
  color: #6D6E76;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.all-posts-card {
  display: flex;
  margin-top: 32px;
  gap: 48px;
}
.all-posts-card .cpmcc-img {
  width: 547px;
  height: 318px;
  background-color: #ddd;
}
.all-posts-card .cpmpcc-content {
  display: flex;
  flex-direction: column;
}
.all-posts-card .cpmpcc-content .cpmpccc-subtext {
  color: #592EA9;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.all-posts-card .cpmpcc-content .cpmccc-title {
  width: 780px;
  margin-top: 20px;
  margin-bottom: 64px;
  color: #232536 !important;
  font-family: "Sen";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}
.all-posts-card .cpmpcc-content .cpmccc-description {
  width: 780px;
  color: #6D6E76;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}