@import "./header-footer.scss";

// home page popular cards

.home-page-popular-cards {
  width: 370px !important;
  margin-bottom: 30px !important;
  display: flex;
  padding: 10px;
  margin-right: 30px !important;
  flex-direction: column;
  border: 1px solid #ccc;
  height: 500px;
  transition: 0.6s;

  &:hover {
    transform: translateY(10px);
  }

  .hppc-image {
    margin-bottom: 20px !important;
    width: 100% !important;
    height: 250px !important;
    background-color: #ddd;
    overflow: hidden;

    img {
      width: 100% !important;
      object-fit: cover !important;
      object-position: top !important;
    }
  }

  .hppc-subtext {
    margin-top: 10px !important;
    margin-bottom: 16px;
    color: #4C4C4C;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    span {
      color: #592EA9;
    }
  }

  .hppc-title {
    margin-top: 16px !important;
    margin-bottom: 16px;
    color: $bg-color;
    font-family: "Sen";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
  }

  .hppc-text {
    margin-bottom: 16px !important;
    color: $bg-color;
    height: 70px !important;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .hppc-link-to {
    margin-top: 10px !important;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 2px;
    color: $bg-color;
    font-family: "Sen";
  }
}

// home page category cards

.hpc-category-cards {
  padding: 31px;
  width: 400px !important;
  height: 300px !important;
  margin-bottom: 30px !important;
  margin-right: 10px !important;
  margin-top: 10px !important;
  flex-shrink: 0;
  border: 1px solid #6D6E76;
  background-color: #fff;
  transition: 0.7s;

  &:hover {
    border: 1px solid $secColor;
    transform: scale(1.06);
    background-color: $secColor;
  }

  .hpccc-image {
    height: 47px;
    width: 48px;

    img {
      width: 100%;
    }
  }

  .hpccc-title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: "Sen";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    color: $bg-color;
  }

  .hpccc-desc {
    color: $bg-color;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 50px !important;
  }

  .hpccc-kink-to {
    color: #592EA9;
    font-family: "Sen";
    border-radius: 7px;

  }


}

// category page main card

.cpmc-card {
  display: flex;
  gap: 48px;
  margin-bottom: 20px;

  .cpmcc-img {
    width: 448px;
    height: 312px;
    background-color: #ddd;
  }

  .cpmpcc-content {
    display: flex;
    flex-direction: column;

    .cpmpccc-subtext {
      color: #592EA9;
      font-family: "Inter";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    .cpmccc-title {
      width: 780px;
      margin-top: 20px;
      margin-bottom: 64px;
      color: $bg-color;
      font-family: "Sen";
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -2px;
    }

    .cpmccc-description {
      width: 780px;
      color: #6D6E76;
      font-family: "Inter";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
  }
}

// all posts card

.all-posts-card {
  display: flex;
  margin-top: 32px;
  gap: 48px;
  background-color: #fff;
  padding: 20px;

  .cpmcc-img {
    width: 547px;
    height: 318px;
    background-color: #ddd;
  }

  .cpmpcc-content {
    display: flex;
    flex-direction: column;

    .cpmpccc-subtext {
      color: #592EA9;
      font-family: "Inter";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    .cpmccc-title {
      width: 780px;
      margin-top: 20px;
      margin-bottom: 64px;
      color: $bg-color;
      font-family: "Sen";
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -2px;
    }

    .cpmccc-description {
      width: 780px;
      color: #6D6E76;
      font-family: "Inter";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
  }
}

// my posts page card

.myposts-page-card {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  background-color: #fff;

  .cpmc-card {
    display: flex;
    gap: 48px;
    margin-bottom: 20px;
    background-color: #fff;

    .cpmcc-img {
      width: 448px;
      height: 312px;
      background-color: #ddd;
    }

    .cpmpcc-content {
      display: flex;
      flex-direction: column;

      .cpmpccc-subtext {
        color: #592EA9;
        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      .cpmccc-title {
        width: 780px;
        margin-top: 20px;
        margin-bottom: 64px;
        color: $bg-color;
        font-family: "Sen";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
      }

      .cpmccc-description {
        width: 780px;
        color: #6D6E76;
        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
    }
  }
}

//  slick styles


// styles are quite ok as of 12:57am

// some pagination things see-more-app

// on the way to style the my posts page category